.appHeader {
    background-color: #DA4D6D;
    padding: 15px 10px;
    color: #fff;
    margin-bottom: 25px;
}

.appHeader h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.leftImg {
    width: 140px;
    float: left;
    padding: 5px;
}

.fontBold {
    font-weight: 600;
}

.movielist {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px 0px 2px #888;
}

.posterdesc {
    font-size: 12px;
}

.searchField {
    margin: 10px;
    padding: 10px;
}

.searchField input {
    width: 65%;
    font-size: 16px;
    padding: 4px;
}

.searchField button {
    width: 90px;
    border-radius: 0;
    margin-top: -2px;
}

.btn-primary-custom {
    color: #fff;
    background-color: #DA4D6D;
    border-color: #A0203E;
}

.show {
    display: block;
}

.hide {
    display: none;
}
.progress-bar.width10{
    width:10%;
}
.progress-bar.width30{
    width:30%;
}
.progress-bar.width50{
    width:50%;
}
.progress-bar.width70{
    width:70%;
}
.progress-bar.width100{
    width:100%;
}
.progress-bar{
    background-color: #000;
}
.progress{
        height: 10px;
}
.progressdiv{
    position: fixed;
    top: 52px;
    right: 0;
    left: 0;
}